@charset "UTF-8";

@font-face {
    font-family: 'Bandeiras';
    src: url('/Desafios/Módulo 3/d012/d012-resolvido/font/KgChasingCars-38qp.ttf') format('truetype');
} 

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sciracha', cursive;
    --fonte4: 'Bandeiras', Arial, sans-serif;
    
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    margin: 0px;
} 


header {
    background-color: black;
    text-align: center;
    margin: 0px;
}

header > h1 {
    font-size: 10vw; /**/
    font-family: var(--fonte4);
    font-weight: bolder;
    color: white;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    /* font-variant: small-caps; Cria as primeiras letras maiores que as outras*/
    /*text-transform: uppercase; Transforma tudo em maiúscula*/
}
header > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    margin: 0px;
    font-size: 3vw;
}
header > p > a, footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--fonte1);
}
header > p > a:hover, footer > p > a:hover {
    text-decoration: underline;
}

section {
    /*Configuração para manter as partes da poesia na tela*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*Para dar espaçamento entre as linhas */
    padding-left: 30px; /*Também para dar espaçamento*/
    font-family: var(--fonte3);
    font-size: 3.8vw;
}

section > p {
    padding-bottom: 2em;
}

.corpo-texto{
    background-color: white;
}

#paralax1 {
    background-image: url("/Desafios/Módulo 3/d012/d012-resolvido/imagens/background001.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
}
.corpo-texto-paralax1 {
    color: white;
    display: inline-block; /*Caixa que se adapta ao conteúdo*/
    background-color: rgba(0, 0, 0, 0.253);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

#paralax2 {
    background: lightgray url("/Desafios/Módulo 3/d012/imagens/background002.jpg") right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
}
.corpo-texto-paralax2 {
    color: white;
    display: inline-block; /*Caixa que se adapta ao conteúdo*/
    background-color: rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}
footer > p {
    margin: 0px;
    padding: 5px;
}
